body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
  background-color: #FFFF01;
}

#logo-img {
  background: url("../images/logo_large.png") no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Indie Flower', cursive;
  color: #3498DB;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #FF0101;
  text-align: center;
  font-size: 2em;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.pull-right {
  color: #FFFF01;
  font-weight: bold;
  font-size: 1.3em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/*Main content*/


#chicken-tile, #beef-tile, #sushi-tile {
  height: 600px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-color: red;
  color: white;
  padding: 0 15px 0 15px;
}
#chicken-tile:hover, #beef-tile:hover, #sushi-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}


  /*End Main Content*/
/********** Large devices only **********/
@media (min-width: 1200px) {
  .navbar-brand h1 {
  padding-top: 30px;

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #logo-img {
  background: url("../images/logo_medium.png") no-repeat;
  width: 100px;
  height: 100px;
  margin: 5px 5px 5px 0;
}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
    margin-top: -15px }
}
  

/********** Extra small devices only **********/
@media (max-width: 767px) {
    .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
    margin-top: -5px;
}
